#popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 99998;
}

#popup-box {
  /* height: 200px; */
  height: auto;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 99999;
}

html[darky] #popup-box {
  background-color: #212121;
}

html[lighty] #popup-box {
  background-color: #fff;
}

#popup-header {
  display: flex;
  align-items: center;
}

#popup-icon {
  height: 30px;
  width: 50px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

#popup-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

html[darky] #popup-title {
  color: #f1f1f1;
}

html[lighty] #popup-title {
  color: #0f0f0f;
}

#popup-format-selection {
  /* height: 150px; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px 0;
  padding: 10px 0;
}

html[darky] #popup-format-selection {
  border-top: solid 2px #2e2e2e;
  border-bottom: solid 2px #2e2e2e;
}

html[lighty] #popup-format-selection {
  border-top: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
}

.popup-format-box {
  display: flex;
  align-items: center;
  width: 230px;
  height: 30px;
  border-radius: 8px;
  padding: 8px 12px;
}

html[darky] .popup-format-box:hover {
  background-color: #2e2e2e;
}

html[lighty] .popup-format-box:hover {
  background-color: #e0e0e0;
}

/* format selection list */

.popup-format-box input {
  margin: 0 8px 0 0;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition:
    border-color 0.2s ease,
    transform 0.1s ease;
}

html[darky] .popup-format-box input {
  border: 2px solid #ffffff1a;
}

html[lighty] .popup-format-box input {
  border: 2px solid #00000033;
}

.popup-format-box input:hover {
  filter: brightness(1.2);
}

.popup-format-box input:active {
  transform: scale(0.9);
}

html[darky] .popup-format-box input:checked {
  border-color: #3ea6ff;
  box-shadow: 0 0 6px #1e609b66;
}

html[lighty] .popup-format-box input:checked {
  border-color: #065fd4;
  box-shadow: 0 0 6px #2f92e966;
}

.popup-format-box input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

html[darky] .popup-format-box input::after {
  background: #3ea6ff;
}
html[lighty] .popup-format-box input::after {
  background: #065fd4;
}

.popup-format-box input:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

/* format selection list */

.popup-format-box label,
.popup-format-box span {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html[darky] .popup-format-box span,
html[darky] .popup-format-box label {
  color: #f1f1f1;
}

html[lighty] .popup-format-box span,
html[lighty] .popup-format-box label {
  color: #0f0f0f;
}

.popup-format-box span {
  margin-left: auto;
}

#popup-download-button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: center;
}

html[darky] #popup-download-button {
  background: #3ea6ff;
  color: #212121;
  &:hover {
    background: #59b1ff;
  }
}

html[lighty] #popup-download-button {
  background: #065fd4;
  color: #ffffff;
  &:hover {
    background: #0556bf;
  }
}

#popup-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  border: none;
}

/* Dark theme */
html[darky] #popup-close-button {
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z' fill='%23ffffff35'/%3E%3C/svg%3E");
}

html[darky] #popup-close-button:hover {
  filter: brightness(1.5);
}

/* Light theme */
html[lighty] #popup-close-button {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z' fill='%2300000050'/%3E%3C/svg%3E");
}

html[lighty] #popup-close-button:hover {
  filter: brightness(0.75);
}
/* custom download button  */

#downloadButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  height: 36px;
  border-radius: 18px;
  border: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0 16px;
  cursor: pointer;
}

html[darky] #downloadButton {
  background: #ffffff1a;
  color: #f1f1f1;
  &:hover {
    background-color: #403f3f;
  }
}

html[lighty] #downloadButton {
  background: #0000000d;
  color: #0f0f0f;
  &:hover {
    background-color: #0000001a;
  }
}
