[Desktop Entry]
Name=YTD Protocol Handler
Exec=kitty -e /usr/bin/python3 /home/manoj/.local/bin/ytd.py %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/ytd;
NoDisplay=true

